<sidewalk_champion><settings><screen_scale>1</screen_scale><show_box_display>False</show_box_display><player1_keys><Light Kick>f</Light Kick><Up>w</Up><Light Punch>r</Light Punch><Down>s</Down><Start>left ctrl</Start><Heavy Punch>y</Heavy Punch><Back>a</Back><Medium Punch>t</Medium Punch><Medium Kick>g</Medium Kick><Heavy Kick>h</Heavy Kick><Forward>d</Forward><Cancel>escape</Cancel></player1_keys><player2_keys><Light Kick>[4]</Light Kick><Up>uo</Up><Light Punch>[7]</Light Punch><Down>down</Down><Start>return</Start><Heavy Punch>[9]</Heavy Punch><Back>left</Back><Medium Punch>[8]</Medium Punch><Medium Kick>[5]</Medium Kick><Heavy Kick>[6]</Heavy Kick><Forward>right</Forward><Cancel>backspace</Cancel></player2_keys></settings><verification code="49uRJDj02skW" /></sidewalk_champion>